#### begin @om-generated ####

omcore/formats/json/stream/_dataclasses.py linguist-generated
omcore/inject/_dataclasses.py linguist-generated
omcore/lifecycles/_dataclasses.py linguist-generated
omcore/marshal/_dataclasses.py linguist-generated
omcore/orm/_dataclasses.py linguist-generated
omcore/specs/jmespath/_dataclasses.py linguist-generated
omcore/specs/jsonschema/keywords/_dataclasses.py linguist-generated
omcore/specs/openapi/_dataclasses.py linguist-generated
omcore/sql/api/_dataclasses.py linguist-generated
omcore/sql/drivers/base/_dataclasses.py linguist-generated
omcore/sql/drivers/og8000/_dataclasses.py linguist-generated
omcore/sql/drivers/omysql/_dataclasses.py linguist-generated
omcore/sql/queries/_dataclasses.py linguist-generated
omcore/sql/tabledefs/_dataclasses.py linguist-generated
omcore/text/abnf/_dataclasses.py linguist-generated
omcore/text/pdcmark/_dataclasses.py linguist-generated
omdev/dataclasses/_dumping.py linguist-generated
omdev/manifests/_dumping.py linguist-generated
omdev/scripts/ci.py linguist-generated
omdev/scripts/interp.py linguist-generated
omdev/scripts/lib/formats/goyaml.py linguist-generated
omdev/scripts/lib/inject.py linguist-generated
omdev/scripts/lib/io/pipelines.py linguist-generated
omdev/scripts/lib/io/streambufs.py linguist-generated
omdev/scripts/lib/logs.py linguist-generated
omdev/scripts/lib/marshal.py linguist-generated
omdev/scripts/pidfiles.py linguist-generated
omdev/scripts/pyproject.py linguist-generated
omdev/tui/minitui/_dataclasses.py linguist-generated
omdev/tui/minitui/vim/_dataclasses.py linguist-generated
ominfra/clouds/aws/models/base/_dataclasses.py linguist-generated
ominfra/clouds/aws/models/services/ec2/__init__.py linguist-generated
ominfra/clouds/aws/models/services/ec2/_dataclasses.py linguist-generated
ominfra/clouds/aws/models/services/lambda_/__init__.py linguist-generated
ominfra/clouds/aws/models/services/lambda_/_dataclasses.py linguist-generated
ominfra/clouds/aws/models/services/rds/__init__.py linguist-generated
ominfra/clouds/aws/models/services/rds/_dataclasses.py linguist-generated
ominfra/clouds/aws/models/services/s3/__init__.py linguist-generated
ominfra/clouds/aws/models/services/s3/_dataclasses.py linguist-generated
ominfra/scripts/journald2aws.py linguist-generated
ominfra/scripts/manage.py linguist-generated
omllm/agent/_dataclasses.py linguist-generated
omllm/agent/eval/_dataclasses.py linguist-generated
omllm/agent/exec/_dataclasses.py linguist-generated
omllm/agent/exec/ripgrep/_dataclasses.py linguist-generated
omllm/agent/fs/_dataclasses.py linguist-generated
omllm/agent/permissions/_dataclasses.py linguist-generated
omllm/agent/web/_dataclasses.py linguist-generated
omllm/agent/web/backends/google/_dataclasses.py linguist-generated
omllm/agent/web/backends/tavily/_dataclasses.py linguist-generated
omllm/core/_dataclasses.py linguist-generated
omllm/core/asyncs/_dataclasses.py linguist-generated
omllm/core/http/_dataclasses.py linguist-generated
omllm/core/processes/_dataclasses.py linguist-generated
omllm/core/ui/text/_dataclasses.py linguist-generated
omllm/harness/_dataclasses.py linguist-generated
omllm/harness/commands/_dataclasses.py linguist-generated
omllm/harness/sessions/_dataclasses.py linguist-generated
omllm/interop/ollama/_dataclasses.py linguist-generated
omllm/interop/tavily/_dataclasses.py linguist-generated
omllm/llm/_dataclasses.py linguist-generated
omllm/llm/backends/anthropic/_dataclasses.py linguist-generated
omllm/llm/backends/google/_dataclasses.py linguist-generated
omllm/llm/backends/openai/_dataclasses.py linguist-generated
omllm/llm/backends/scripted/_dataclasses.py linguist-generated
omllm/llm/models/_dataclasses.py linguist-generated
omllm/modeldb/_dataclasses.py linguist-generated
omllm/specs/acp/_dataclasses.py linguist-generated
omllm/specs/acp/protocol.py linguist-generated
omllm/specs/mcp/_dataclasses.py linguist-generated
omllm/specs/mcp/protocol.py linguist-generated
x/collections/kv2/bases.py linguist-generated
x/logs/_tlog.py linguist-generated
x/minichain/_dataclasses.py linguist-generated
x/minichain/drivers/_dataclasses.py linguist-generated
x/minichain/facades/_dataclasses.py linguist-generated
x/minichain/facades/timelines/_dataclasses.py linguist-generated
x/minichain/modules/_dataclasses.py linguist-generated
x/ommlds/backends/anthropic/protocol/_dataclasses.py linguist-generated
x/ommlds/backends/cerebras/_dataclasses.py linguist-generated
x/ommlds/backends/google/protocol/_dataclasses.py linguist-generated
x/ommlds/backends/groq/_dataclasses.py linguist-generated
x/ommlds/backends/ollama/_dataclasses.py linguist-generated
x/ommlds/backends/openai/protocol/_dataclasses.py linguist-generated
x/ommlds/backends/tavily/_dataclasses.py linguist-generated
x/ommlds/cli/_dataclasses.py linguist-generated
x/systevisor/_bin/systevisor.py linguist-generated

#### end @om-generated ####
