#### begin @om-generated ####

omcore/formats/json/stream/_dataclasses.py linguist-generated
omcore/inject/_dataclasses.py linguist-generated
omcore/lifecycles/_dataclasses.py linguist-generated
omcore/marshal/_dataclasses.py linguist-generated
omcore/orm/_dataclasses.py linguist-generated
omcore/specs/jmespath/_dataclasses.py linguist-generated
omcore/specs/jsonschema/keywords/_dataclasses.py linguist-generated
omcore/specs/openapi/_dataclasses.py linguist-generated
omcore/sql/api/_dataclasses.py linguist-generated
omcore/sql/queries/_dataclasses.py linguist-generated
omcore/sql/tabledefs/_dataclasses.py linguist-generated
omcore/text/abnf/_dataclasses.py linguist-generated
omcore/text/pdcmark/_dataclasses.py linguist-generated
omdev/dataclasses/_dumping.py linguist-generated
omdev/manifests/_dumping.py linguist-generated
omdev/scripts/ci.py linguist-generated
omdev/scripts/interp.py linguist-generated
omdev/scripts/lib/formats/goyaml.py linguist-generated
omdev/scripts/lib/inject.py linguist-generated
omdev/scripts/lib/io/pipelines.py linguist-generated
omdev/scripts/lib/io/streambufs.py linguist-generated
omdev/scripts/lib/logs.py linguist-generated
omdev/scripts/lib/marshal.py linguist-generated
omdev/scripts/pidfiles.py linguist-generated
omdev/scripts/pyproject.py linguist-generated
ominfra/clouds/aws/models/base/_dataclasses.py linguist-generated
ominfra/clouds/aws/models/services/ec2/__init__.py linguist-generated
ominfra/clouds/aws/models/services/ec2/_dataclasses.py linguist-generated
ominfra/clouds/aws/models/services/lambda_/__init__.py linguist-generated
ominfra/clouds/aws/models/services/lambda_/_dataclasses.py linguist-generated
ominfra/clouds/aws/models/services/rds/__init__.py linguist-generated
ominfra/clouds/aws/models/services/rds/_dataclasses.py linguist-generated
ominfra/clouds/aws/models/services/s3/__init__.py linguist-generated
ominfra/clouds/aws/models/services/s3/_dataclasses.py linguist-generated
ominfra/scripts/journald2aws.py linguist-generated
ominfra/scripts/manage.py linguist-generated
omllm/agent/_dataclasses.py linguist-generated
omllm/core/_dataclasses.py linguist-generated
omllm/harness/_dataclasses.py linguist-generated
omllm/interop/ollama/_dataclasses.py linguist-generated
omllm/interop/tavily/_dataclasses.py linguist-generated
omllm/llm/_dataclasses.py linguist-generated
omllm/modeldb/_dataclasses.py linguist-generated
omllm/specs/acp/_dataclasses.py linguist-generated
omllm/specs/acp/protocol.py linguist-generated
omllm/specs/mcp/_dataclasses.py linguist-generated
omllm/specs/mcp/protocol.py linguist-generated
omxtra/formats/json/_antlr/JsonLexer.py linguist-generated
omxtra/formats/json/_antlr/JsonListener.py linguist-generated
omxtra/formats/json/_antlr/JsonParser.py linguist-generated
omxtra/formats/json/_antlr/JsonVisitor.py linguist-generated
omxtra/formats/json5/_antlr/Json5Lexer.py linguist-generated
omxtra/formats/json5/_antlr/Json5Listener.py linguist-generated
omxtra/formats/json5/_antlr/Json5Parser.py linguist-generated
omxtra/formats/json5/_antlr/Json5Visitor.py linguist-generated
omxtra/specs/proto/_antlr/Protobuf3Lexer.py linguist-generated
omxtra/specs/proto/_antlr/Protobuf3Listener.py linguist-generated
omxtra/specs/proto/_antlr/Protobuf3Parser.py linguist-generated
omxtra/specs/proto/_antlr/Protobuf3Visitor.py linguist-generated
omxtra/sql/parsing/_antlr/MinisqlLexer.py linguist-generated
omxtra/sql/parsing/_antlr/MinisqlListener.py linguist-generated
omxtra/sql/parsing/_antlr/MinisqlParser.py linguist-generated
omxtra/sql/parsing/_antlr/MinisqlVisitor.py linguist-generated
omxtra/text/antlr/cli/tests/_antlr/ChatLexer.py linguist-generated
omxtra/text/antlr/cli/tests/_antlr/ChatListener.py linguist-generated
omxtra/text/antlr/cli/tests/_antlr/ChatParser.py linguist-generated
omxtra/text/antlr/cli/tests/_antlr/ChatVisitor.py linguist-generated
omxtra/tui/minitui/_dataclasses.py linguist-generated
x/collections/kv2/bases.py linguist-generated
x/logs/_tlog.py linguist-generated
x/minichain/_dataclasses.py linguist-generated
x/minichain/drivers/_dataclasses.py linguist-generated
x/minichain/facades/_dataclasses.py linguist-generated
x/minichain/facades/timelines/_dataclasses.py linguist-generated
x/minichain/modules/_dataclasses.py linguist-generated
x/ommlds/backends/anthropic/protocol/_dataclasses.py linguist-generated
x/ommlds/backends/cerebras/_dataclasses.py linguist-generated
x/ommlds/backends/google/protocol/_dataclasses.py linguist-generated
x/ommlds/backends/groq/_dataclasses.py linguist-generated
x/ommlds/backends/ollama/_dataclasses.py linguist-generated
x/ommlds/backends/openai/protocol/_dataclasses.py linguist-generated
x/ommlds/backends/tavily/_dataclasses.py linguist-generated
x/ommlds/cli/_dataclasses.py linguist-generated

#### end @om-generated ####
