recursive-include omcore/lang *.py
recursive-include omcore/lite *.py
recursive-include omcore/reflect/core *.py
include omcore/*.py
include omcore/reflect/*.py
recursive-exclude **/tests *.py
global-exclude **/conftest.py
